.add{
    
   
    width: 10%;
    /* margin-bottom: 10px; */
}

.navbar{
    background-color: rgb(0, 105, 224);
}
.my-facebook{
    background-color: rgb(3, 102, 250);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 10%;
}

.col-9{
    margin-left: -60px;
    
}

.img{
    margin-right: 10px;
}

.text-line-3{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.profile{
    margin-top: 16px;
}

.name-profile{
   
    margin-top: 16px;
}
.btnSave{
    float: right;
}